/* body {
    background-color: violet;
} */

.awhContainer {
    border-width:3px !important; 
    border-color:purple !important;
}

.awhColorDark {
    color: purple;
}

.awhBGdark {
    background-color: purple;
    color: whitesmoke;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}
