<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3" style="line-height: 0.8;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-dark fs-5" href="/config.html">
          Configuración
        </a>
      </li>
      </br>
      <li class="nav-item">
        <a class="nav-link text-dark fs-5" href="/retenciones.html">
          Retenciones
        </a>
        <!-- <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link text-dark fs-6" href="/retenciones.html#Ret-Proveedor">
                  &nbsp;&nbsp;- Proveedores
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark fs-6" href="/retenciones.html#Ret-Empleado">
                  &nbsp;&nbsp;- Empleados
              </a>
          </li>
        </ul> -->
      </li>
      </br>
      <li class="nav-item">
        <a class="nav-link text-dark fs-5" href="/IVA.html">
          IVA
        </a>
        <!-- <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link text-dark fs-6" href="/IVA.html#IVA-Tercero">
                  &nbsp;&nbsp;- Terceros
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark fs-6" href="/IVA.html#IVA-Chequeo">
                  &nbsp;&nbsp;- Chequeo
              </a>
          </li>
        </ul> -->
      </li>
      </br>
      <li class="nav-item">
        <a class="nav-link text-dark fs-5" href="/syncro.html">
          Sincronización
        </a>
      </li>
      </br>
      <li class="nav-item">
        <a class="nav-link text-dark fs-5" href="/libros.html">
          Libros Oficiales
        </a>
      </li>
      </br>
    </ul>
  </div>
</nav>
